.contenedor-Instalacion {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.8;
  margin-bottom: 15px;
  color: #381D2A;
}

.apartado {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 4px solid #381d2a;
  background: #FCDE9C;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #381D2A;
  font-size: 1.3;
  margin-bottom: 8px;
}

p, li {
  line-height: 1.6;
}

pre {
  background: #aad17d;
  color: #000000;
  padding: 10px;
  border-radius: 4px;
  width: 500px;  
}

a{
  text-decoration: none;
  background-color: #FFA552;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}

a:hover {
  background-color: #C4D6B0;
  transform: translateY(-2px);
}

