<section class="contenedor-primeros-pasos">

  <h1>3. Primeros Pasos con Angular</h1>

  <div class="apartado">
    <h2>Crear una aplicación para mostrar “Hola Mundo”</h2>
    <p>
      Una de las primeras comprobaciones que podemos realizar al comenzar con Angular es crear un
      mensaje sencillo en pantalla, el clásico <strong>“Hola Mundo”</strong>.
    </p>
    <p>
      Aunque Angular genera una aplicación inicial completa, es posible modificar el
      componente principal para mostrar nuestro propio mensaje.
    </p>
  </div>

  <div class="apartado">
    <h2>Paso 1: Crear un nuevo proyecto</h2>
    <p>En la terminal, ejecuta:</p>

    <pre><code>ng new hola-mundo</code></pre>

    <p>
      Angular CLI generará toda la estructura base del proyecto. Luego entra dentro del directorio:
    </p>
    <pre><code>cd hola-mundo</code></pre>
    <p>
      Si escribimos:
    </p>  
    
    <pre><code>code .</code></pre>

    <p>
      Se nos abrira nuestro edito de código Visual Studio Code y veremos nuestro proyecto como en la imagen:  
    </p>     

    <p>
      <img src="ProyectoCreadoVSC.png" alt="Proyecto Creado" style="border-radius: 15px;">
    </p>

  </div>

  <div class="apartado">
    <h2>Paso 2: Ejecutar la aplicación</h2>
    <p>Para iniciar el servidor de desarrollo, usaremos el comando:</p>

    <pre><code>ng serve</code></pre>

    <p>
      Por defecto, Angular se ejecutará en la URL:
      <strong>http://localhost:4200</strong>
    </p>

    <p>
      Si todo está correcto, verás la aplicación inicial generada por Angular.
    </p>
  </div>

  <div class="apartado">
    <h2>Paso 3: Modificar el componente principal</h2>
    <p>
      Para mostrar nuestro mensaje “Hola Mundo”, debemos editar el archivo:
    </p>

    <pre><code>src/app/app.html</code></pre>

    <p>Reemplaza su contenido por:</p>

    <pre><code>&lt;h1&gt;Hola Mundo desde Angular&lt;/h1&gt;</code></pre>

    <p>
      Guarda los cambios y la página del navegador se actualizará automáticamente mostrando
      el mensaje.
    </p>
  </div>
</section>











