.contenedor-conclusiones {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.8;
  margin-bottom: 15px;
  color: #381D2A;
}

.apartado {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 4px solid #381d2a;
  background: #FCDE9C;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #381D2A;
  font-size: 1.3;
  margin-bottom: 8px;
}

p, li {
  line-height: 1.6;
}

pre {
  background: #aad17d;
  color: #000000;
  padding: 10px;
  border-radius: 4px;
  width: 500px;  
}
