<section class="contenedor-conclusiones">

  <h1>6. Conclusiones del Tutorial</h1>

  <div class="apartado">
    <p>
      A lo largo de este tutorial he obtenido los conceptos fundamentales del 
      framework Angular, desde su instalación hasta su funcionamiento general. 
      Mi propósito ha sido ofrecer una visión clara y estructurada del entorno de trabajo que ofrece Angular, 
      entendiendo cómo iniciar y desarrollar aplicaciones básicas utilizando este framework.
    </p>
    <p>
      Como hemos ido aprendiendo desde su instalación sencilla gracias a Angular CLI,
      con el que atomatizamos y simplificamos la creación y gestión de los proyectos.
    </p>
    <p>
      Mediante componentes Angular estructura la aplicación de forma clara y modular.
      Su herramienta de desarrollo en tiempo real, como <code>ng serve</code>, nos permiten visualizar los cambios al instante
      y el sistema de plantillas HTML y CSS facilitan la organización de la interfaz.
    </p>
  </div>

  <div class="apartado">
    <h2>Objetivos Conseguidos</h2>
    <p>
      La realización de este trabajo me ha permitido comprender un nuevo framework, 
      aprender a instalarlo, configurarlo, desarrollar una aplicación básica y conocer su estructura interna. 
    </p>

    <p>
      Angular es una herramienta poderosa que, sabiendo usarla, permite crear aplicaciones 
      web profesionales con una estructura mantenible, eficiente y escalable. 
    </p>

  </div>

</section>
